
header {
  background-color: rgb(221, 180, 16);
  margin: auto;
}
header nav{
width: 960px;
  margin: 30px;
}

header ul {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
flex-wrap: flex;
} 

body {
  background-color: salmon;
  font-family:'Times New Roman', Times, serif;
}

h1 {
  font-size: 3rem;
  padding: 1.5rem;
  color:antiquewhite;
  border-bottom: 5px double aliceblue;
}
main {
  width: 960px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main img{
  margin-bottom: 30px;
}
article {
  border: 1px solid aquamarine;
  padding: 2rem;
  margin: 2rem;
}

h2 {
  color: rosybrown;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

h3 {
  color: darkcyan;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

ul {
  margin-left: .7rem;
  list-style: square;
  margin-bottom: .7rem;
}

p {
  margin-bottom: .7rem;
}

footer {
  background-color: rgb(255, 140, 0);
height: 50px;
}

a {
  color: indianred
}

table, td, th {
  border: .7px solid skyblue;
}
table {
  margin: 1rem;
}
td, th {
  padding: 1rem;
}
thead th {
  font-weight: bold;
}
tfoot {
  background-color: rgba(6, 108, 98, 0.1);
}

article a {
  text-decoration-line: none;
}
